<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
                
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddress">Setores</label>
                <ul class="list-group">
                    <li class="list-group-item "><input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Administrativo  1</label></li>
                        <li class="list-group-item">  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                             <label class="form-check-label" for="exampleCheck1">Corae  2</label></li>
                                <li class="list-group-item"><input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Diretoria</label></li>
                  </ul>
              </div>
              <div class="form-group col-md-9">
                    <label for="inputAddress">Autor</label>
                    <input type="text" class="form-control border-input" placeholder="" value="">
                  </div>
                      </div>
            
                     <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-primary">Gerar</button>
                     </div>
          </form>
          </div>
          </div>
          <br>
          <br>